* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
}

body {
  background-color: hsl(204, 43%, 93%);
}

.container {
  display: grid;
  grid-template-areas:
    "top-box top-box"
    "bottom-left bottom-right";
  width: 42vw;
  height: 60vh;
  margin: 115px auto;
  line-height: 1.3;
}

.top-box {
  grid-area: top-box;
  padding: 30px;
  background-color: white;
  width: 42vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom-left {
  grid-area: bottom-left;
  padding: 25px 30px;
  background-color: hsl(179, 62%, 43%);
  width: 21vw;
  height: 33vh;
  color: white;
  position: relative;
  border-bottom-left-radius: 5px;
}

.bottom-right {
  grid-area: bottom-right;
  padding: 12px 30px;
  background-color: hsla(179, 62%, 43%, 0.789);
  width: 21vw;
  height: 33vh;
  color: white;
  position: relative;
  border-bottom-right-radius: 5px;
}

.para1 {
  line-height: 2.5;
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 18px;
}

.para2 {
  line-height: 2;
  color: hsl(71, 73%, 54%);
  font-weight: 700;
  font-size: 14px;
}

.para3 {
  line-height: 1.6;
  font-size: 13px;
  color: hsl(218, 22%, 67%);
}

.para4 {
  line-height: 1.6;
}

.para5 {
  line-height: 1.3;
  font-size: 13px;
}

.para6 {
  line-height: 2;
  font-size: 13px;
  opacity: 0.8;
}

span {
  font-size: 22px;
}

.content {
  opacity: 0.5;
  font-size: 13px;
}

.button {
  color: white;
  background-color: hsl(71, 73%, 54%);
  position: absolute;
  top: 125px;
  left: 30px;
  border: 0px;
  padding: 10px 75px;
  border-radius: 4px;
}

button:hover {
  background-color: hsla(95, 67%, 52%, 0.793);
  cursor: pointer;
  font-size: 15px;
}

.para7 {
  line-height: 1.3;
  font-size: 14px;
}

.content2 {
  line-height: 2.6;
  font-size: 16px;
}

.para8 {
  opacity: 0.6;
  font-size: 12px;
  line-height: 1.3;
}


/* ----------- 374 - 450px ----------- */
@media screen 
  and (min-width: 375px) 
  and (max-width: 450px){
    .container {
      width: 70vw;
      height: 90vh;
  grid-template-areas:
    "top-box"
    "top-box"
    "bottom-left"
    "bottom-right";
    }

    .top-box {
      padding: 15px;
      width: 70vw;
      height: 31vh;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .bottom-left {
    padding: 25px 30px;
    width: 70vw;
    height: 30vh;
    border-bottom-left-radius: 0px;
    padding-top: 20px;
  }

  .bottom-right {
    padding: 12px 30px;
    width: 70vw;
    height: 30vh;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

  }

}

/* ----------- 450 - 650px ----------- */
@media screen 
  and (min-width: 451px) 
  and (max-width: 650px){
}

/* ----------- 650px - 950px ----------- */
@media screen 
  and (min-width: 651px)
  and (max-width: 950px){
}

/* ----------- 950px - 1200px ----------- */
@media screen 
  and (min-width: 951px) 
  and (max-width: 1200px){
}

/* ----------- 1200px + ----------- */
@media screen 
  and (min-width: 1201px){
}
